body {background-color: #C8E3E8; font-family: 'Oxygen', sans-serif; margin-top: 5.125rem; }
h1 {font-family: 'Libre Baskerville', serif;}
.a {text-decoration: none !important;}
.wrapper {margin: 0 auto;}
.left, .right {width:50%}
.right {border-left: #fff 1px solid;}
li {justify-content: space-between !important;}


/* Navbar */
.customNav {background-color: #333 !important; width: 100%; position: fixed;  z-index: 10; color: #fff;}
.navbar-toggler-icon { background-image: url("../images/hamMenu.png") !important; color: #fff !important;}
.navbar-nav {color: #fff !important;justify-content: space-between !important;} 

/*Jumbotron*/
.jumbotron {background-image: url("../images/haralsonMill-lg.jpg"); background-size: cover; text-align: center; color: #fff; min-height: 460px;border-radius: 0px;}
.jumbo {margin: 2.25rem;}
.nearby {padding: 0px;}

/*Cards*/
.card-deck {margin-bottom: 6rem;}
.card {background-color: transparent !important; border: none !important;}
.card-img-top {background-color: #3B5A2A !important; color: #fff; padding: 1rem; border-radius: 20px 20px 0px 0 !important;}

/*Footer*/
footer img {padding: .75rem !important;}

/*Media Queries*/

    /*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    h1 {font-size: 2.5rem !important;}
    
}

    /*Small devices (landscape phones, 576px and up*/
@media (min-width: 576px) and (max-width: 767.98px) {}

    /*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .right {border-left: 0px;}
}

    /*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .myNavbar {display: none;}
}

    /*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}