body {background-color: #C8E3E8; font-family: 'Oxygen', sans-serif; margin-top: 5.125rem; }
h1 {font-family: 'Libre Baskerville', serif;}
.wrapper {margin: 0 auto;}
.left, .right {width:50%}
.right {border-left: #fff 1px solid;}
li {justify-content: space-between !important;}


/* Navbar */
.customNav {background-color: #333 !important; width: 100%; position: fixed;  z-index: 10; color: #fff;}
.navbar-toggler-icon { background-image: url("../images/hamMenu.png") !important; color: #fff !important;}
.navbar-nav {color: #fff !important;margin-right: auto;margin-left: auto;} 
li {padding-right: 3rem; padding-left: 3rem;}
nav .btn {background-color: #428099 !important; color: #fff; border: 0px !important;}
nav .btn:hover {background-color: #fd9d3d !important; border: 0px;}
.btn-outline-success {border: 0px !important;}
li:hover {background-color: #fd9d3d !important;}

/*Jumbotron*/
.jumbotron {background-image: url("../images/haralsonMill-lg.jpg"); background-size: cover; text-align: center; color: #fff; min-height: 460px;border-radius: 0px;}
.jumbo {margin: 2.25rem;}
.nearby {padding: 0px;}

/*Sign In Styles*/
.signin-container {border: 3px solid #333333;
    border-radius: 25px;
    background: #c8e3e8;
    padding: 20px;
    width: 400px;
}

/*Cards*/
.row {margin: 0 0 7rem 0;}
.card {background-color: transparent !important; border: 0px !important;}
.card-img-top {background-color: #3B5A2A !important; color: #fff; padding: 1rem; border-radius: 20px 20px 0px 0 !important;}
.card-body {background-color: #fff !important; border: #3b5a2a 1px solid !important;}
.card h4:hover {color: #fd9d3d !important;}

/*Images*/
.header-img {padding: 1rem; }

/*Text*/
table, th, th {
    align-items: left;
  }
.container {width: 50%; color: white; align-self: center;}
.container-p {font-style:normal; font-weight: normal; text-decoration: none; text-transform: auto; color: white; text-align:center;}

/*Checkbox*/
.container-checkbox {  display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;}
    

/*Footer*/
footer img {padding: .75rem !important;}

/*Media Queries*/

    /*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    h1 {font-size: 2.5rem !important;}
    .right {border-left: 0px;}
    li {padding: 0px !important;}
}

    /*Small devices (landscape phones, 576px and up*/
@media (min-width: 576px) and (max-width: 767.98px) {
    li {padding: 0px !important;}
    .right {border-left: 0px;}
}

    /*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .right {border-left: 0px;}
}

    /*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    
}

    /*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}
